html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

::selection {
  color: white;
  background: black; }

::-moz-selection {
  color: white;
  background: black; }

.mainSection {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .mainSection::after {
    clear: both;
    content: "";
    display: table; }
  .mainSection #navigation {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .mainSection #navigation:last-child {
      margin-right: 0; }
    .mainSection #navigation #symbol {
      position: relative;
      display: block;
      font-size: 64px;
      text-align: center;
      margin: 0;
      padding: 0; }
    .mainSection #navigation #slogan {
      position: relative;
      text-align: center;
      font-size: 14px;
      font-family: "Times New Roman", Times, serif; }
    .mainSection #navigation .tagContainer {
      text-align: justify; }
    @media screen and (min-width: 1265px) {
      .mainSection #navigation .tagContainer {
        float: left;
        display: block;
        width: 250px;
        position: fixed;
        top: 40%;
        text-align: justify; } }
  .mainSection #content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .mainSection #content:last-child {
      margin-right: 0; }

.blogPost {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .blogPost::after {
    clear: both;
    content: "";
    display: table; }
  .blogPost .content__halfLineLeft {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    background-color: black;
    margin-top: 23px;
    height: 1px;
    align: center; }
    .blogPost .content__halfLineLeft:last-child {
      margin-right: 0; }
  .blogPost .content__Symbol {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    font-size: 28px;
    text-align: center; }
    .blogPost .content__Symbol:last-child {
      margin-right: 0; }
  .blogPost .content__halfLineRight {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-top: 23px;
    background-color: black;
    height: 1px;
    margin-right: 0; }
    .blogPost .content__halfLineRight:last-child {
      margin-right: 0; }
  .blogPost .blogPostTags {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    .blogPost .blogPostTags:last-child {
      margin-right: 0; }
    .blogPost .blogPostTags .tagInLine:hover {
      background-color: black;
      color: white; }
    .blogPost .blogPostTags .tagInLine__selected {
      background-color: black;
      color: white; }
  .blogPost .dateElement {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    border: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    margin-right: 0; }
    .blogPost .dateElement:last-child {
      margin-right: 0; }
  .blogPost .postContent, .blogPost .buttonFinder {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0; }
    .blogPost .postContent:last-child, .blogPost .buttonFinder:last-child {
      margin-right: 0; }
  .blogPost .openMore__button {
    margin-left: 85.29804%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-right: 0;
    background-color: white;
    border: solid;
    font-size: 36px; }
    .blogPost .openMore__button:last-child {
      margin-right: 0; }
  .blogPost .openMore__button:hover {
    background-color: gray;
    color: white; }
  .blogPost .openMore__button:active {
    background-color: black;
    color: white; }

/* .smallTag */
/*   font-family: "Times New Roman", Times, serif */
/* .bigTag */
/*   font-family: "Times New Roman", Times, sans-serif */
/* a.tag:hover */
/*   background-color: black */
/*   color: white !importantz
 * /*   text-decoration: none !important */
.stripHREF:visited, .stripHREF:link, .stripHREF:active {
  text-decoration: none !important;
  border: 0 !important;
  color: black !important; }

.tag:hover {
  background-color: black !important;
  color: white !important; }

span.tag__selected {
  background-color: black;
  color: white; }

.postContent {
  position: relative;
  height: 200px;
  overflow: hidden; }

.postContent:after {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top, white 20%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none; }

/*# sourceMappingURL=main.css.map */
